<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.AdminOrderMapper">

	<!-- ========================= 
		 1. 주문 목록 조회 (페이징 쿼리로 대체)
	========================== -->
	

	<!-- =========================
	     2. 주문 상세 조회
	========================== -->
	<select id="getOrder" resultType="com.shop.dto.admin.order.AdminOrderReadDTO">
        SELECT *
        FROM orders
        WHERE order_no = #{orderNo}
    </select>

	<!-- =========================
         3. 주문 상품 목록 조회
    ========================== -->
	<select id="getOrderItems" resultType="com.shop.dto.admin.order.AdminOrderItemDTO">
        SELECT *
        FROM order_item
        WHERE order_no = #{orderNo}
    </select>

	<!-- =========================
	     4. 주문 상태 변경
	========================== -->
	<update id="updateOrderStatus">
        UPDATE orders
        SET order_status = #{requestDTO.orderStatus}
        WHERE order_no = #{orderNo}
    </update>
	
	<!-- =========================
         5. 환불 상태 변경
    ========================== -->
    <update id="updateRefundStatus">
        UPDATE orders
        SET refund_status = #{requestDTO.refundStatus}
        WHERE order_no = #{orderNo}
    </update>
    
    <!-- =========================
	     6. 주문 리스트 페이지로 받아오기
	========================== -->
	<select id="getOrderList"
		parameterType="com.shop.dto.admin.order.AdminOrderListRequest"
		resultType="com.shop.dto.admin.order.AdminOrderDto">
		SELECT
		o.order_no AS orderNo,
		o.orderer_name AS ordererName,
		o.order_status AS orderStatus,
		o.total_price AS totalPrice,
		TO_CHAR(o.created_at, 'YYYY-MM-DD HH24:MI:SS') AS createdAt
		FROM orders o
		ORDER BY o.order_no DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	<!-- =========================
	     7. 주문 리스트 개수 쿼리
	========================== -->
	<select id="getOrderCount" resultType="int">
		SELECT COUNT(*)
		FROM orders
	</select>
</mapper>



















