<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.CommentMapper">

    <insert id="createComment">
        INSERT INTO inquiry_comment (
            inquiry_comment_no, inquiry_no, member_no, content, created_at, delete_yn
        )
        VALUES (
            seq_inquiry_comment.nextval, #{inquiryNo}, #{memberNo}, #{content}, SYSTIMESTAMP, 'N'
        )
    </insert>

    <select id="getCommentsByInquiryNo" resultType="Comment">
        SELECT inquiry_comment_no AS inquiryCommentNo,
               inquiry_no         AS inquiryNo,
               member_no          AS memberNo,
               content,
               created_at         AS createdAt,
               updated_at         AS updatedAt,
               delete_yn          AS deleteYn
        FROM inquiry_comment
        WHERE inquiry_no = #{inquiryNo}
          AND delete_yn = 'N'
        ORDER BY created_at ASC
    </select>

    <update id="deleteComment">
        UPDATE inquiry_comment
        SET delete_yn = 'Y'
        WHERE inquiry_comment_no = #{inquiryCommentNo}
    </update>

</mapper>