<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ProductOptionMapper">

	<insert id="insertSeedOption" parameterType="ProductOption">
		<selectKey keyProperty="productOptionNo" resultType="long"
			order="BEFORE">
			SELECT seq_product_option.nextval FROM dual
		</selectKey>

		INSERT INTO product_option (
		product_option_no,
		product_no,
		option_size,
		color,
		stock,
		use_yn
		) VALUES (
		#{productOptionNo},
		#{productNo},
		#{optionSize},
		#{color},
		#{stock},
		#{useYn}
		)
	</insert>

	<select id="getOptionsByProductNo" parameterType="long"
		resultType="com.shop.domain.ProductOption">
		SELECT
		product_option_no AS productOptionNo,
		product_no AS productNo,
		option_size AS optionSize,
		color,
		stock
		FROM product_option
		WHERE product_no = #{productNo}
	</select>
</mapper>