<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ProductMapper">

	<select id="getAllProducts">
		select * from product
	</select>

	<select id="getOneProducts">
		select * from product where product_no =
		#{productNo}
	</select>

	<!-- 초기 이미지 넣어놓는 용도,insertProduct는 아직 없음, 만들때 이거 써도 되면 복사ㄱㄱ -->
	<insert id="insertSeedProduct" parameterType="Product">
		<selectKey keyProperty="productNo" resultType="long"
			order="BEFORE">
			SELECT seq_product.NEXTVAL FROM dual
		</selectKey>

		INSERT INTO product (
		product_no, name, price, discount_rate, category_id,
		description, use_yn, created_at, updated_at, view_count,
		same_day_delivery_yn
		) VALUES (
		#{productNo}, #{name}, #{price},
		#{discountRate}, #{categoryId},
		#{description}, #{useYn}, SYSTIMESTAMP,
		NULL, 0, #{sameDayDeliveryYn}
		)


	<!-- 메인페이지에서 보여줄 썸네일 이미지와 그외 상품 정보 가져오기 -->
	</insert>
	<select id="getAllProductToMainPage"  resultType="com.shop.dto.user.product.ProductListResponse">
		SELECT
		p.product_no AS productNo,
		p.name AS name,
		p.price AS price,
		p.discount_rate AS discountRate,
		pi.image_url AS imageUrl
		FROM product p
		LEFT JOIN product_img pi
		ON p.product_no = pi.product_no
		AND pi.image_type = 'THUMB'
		WHERE p.use_yn = 'Y'
		ORDER BY p.product_no DESC
	</select>


</mapper>