<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ProductMapper">

	<select id="getAllProducts">
		select * from product
	</select>

	<select id="getOneProducts">
		select * from product_option where product_no =
		#{productNo}
	</select>

	<!-- 초기 이미지 넣어놓는 용도,insertProduct는 아직 없음, 만들때 이거 써도 되면 복사ㄱㄱ -->
	<insert id="insertSeedProduct" parameterType="Product">
		<selectKey keyProperty="productNo" resultType="long"
			order="BEFORE">
			SELECT seq_product.nextval FROM dual
		</selectKey>

		INSERT INTO product (
		product_no,
		name,
		price,
		sale_price,
		category_id,
		description,
		use_yn,
		created_at,
		updated_at,
		view_count,
		same_day_delivery_yn
		) VALUES (
		#{productNo},
		#{name},
		#{price},
		#{salePrice},
		#{categoryId},
		#{description},
		#{useYn},
		SYSTIMESTAMP,
		NULL,
		#{viewCount},
		#{sameDayDeliveryYn}
		)
	</insert>


</mapper>