<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper.user.OrderItemMapper">

	<resultMap id="orderItemMap" type="com.shop.domain.OrderItem">
		<id property="orderItemNo" column="order_item_no" />
		<result property="orderNo" column="order_no" />
		<result property="productOptionNo" column="product_option_no" />
		<result property="quantity" column="quantity" />
		<result property="unitPrice" column="unit_price" />
		<result property="itemName" column="item_name" />
		<result property="itemSize" column="item_size" />
		<result property="itemColor" column="item_color" />

	</resultMap>

	<select id="selectByOrderNo" parameterType="long"
		resultMap="orderItemMap">
		SELECT
		order_item_no,
		order_no,
		product_option_no,
		quantity,
		unit_price,
		item_name,
		item_size,
		item_color
		FROM
		order_item
		WHERE order_no = #{orderNo}
	</select>


	<insert id="insertOrderItem"
		parameterType="com.shop.domain.OrderItem">
		<selectKey keyProperty="orderItemNo" resultType="long"
			order="BEFORE">
			SELECT seq_order_item.NEXTVAL FROM dual
		</selectKey>

		INSERT INTO order_item (
		order_item_no,
		order_no,
		product_option_no,
		quantity,
		unit_price,
		item_name,
		item_size,
		item_color
		
		) VALUES (
		#{orderItemNo},
		#{orderNo},
		#{productOptionNo},
		#{quantity},
		#{unitPrice},
		#{itemName},
		#{itemSize},
		#{itemColor}
		)
	</insert>


	<delete id="deleteByOrderNo" parameterType="long">
		DELETE FROM
		order_item
		WHERE order_no = #{orderNo}
	</delete>

</mapper>