<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.user.ProductOptionMapper">

	<insert id="insertSeedOption" parameterType="ProductOption">
		<selectKey keyProperty="productOptionNo" resultType="long"
			order="BEFORE">
			SELECT seq_product_option.nextval FROM dual
		</selectKey>

		INSERT INTO product_option (
		product_option_no,
		product_no,
		option_size,
		color,
		stock,
		use_yn
		) VALUES (
		#{productOptionNo},
		#{productNo},
		#{optionSize},
		#{color},
		#{stock},
		#{useYn}
		)
	</insert>

	<select id="getOptionsByProductNo" parameterType="long"
		resultType="com.shop.domain.ProductOption">
		SELECT
		product_option_no AS productOptionNo,
		product_no AS productNo,
		option_size AS optionSize,
		color,
		stock
		FROM product_option
		WHERE product_no = #{productNo}
	</select>

	<select id="selectPaymentValidationItem" parameterType="long"
		resultType="map">
		SELECT
			po.product_option_no AS "productOptionNo",
			p.product_no AS "productNo",
			p.name AS "productName",
			po.option_size AS "optionSize",
			po.color AS "color",
			CASE
				WHEN NVL(p.discount_rate, 0) > 0 THEN TRUNC((p.price * (100 - p.discount_rate) / 100) / 100) * 100
				ELSE p.price
			END AS "salePrice",
			p.use_yn AS "productUseYn",
			po.use_yn AS "optionUseYn",
			po.stock AS "stock"
		FROM product_option po
		JOIN product p
		  ON po.product_no = p.product_no
		WHERE po.product_option_no = #{productOptionNo}
	</select>
	
	
	
	<update id="updateQuantityWhileRefunding">
		update product_option set stock = stock + #{refundQuantity}
		where product_option_no = #{productOptionNo} 
	</update>
	
	
	
	
	
	
	
	
	
</mapper>
